---
title: Welcome to Middleman
---

<article>
  <h1>daimon news</h1>

  <ul>
    <% data.posts.each do |(id, post)| %>
      <li><%= link_to post.title, "/posts/#{id}.html" %></li>
    <% end %>
  </ul>
</article>
